<div class="container" ng-controller="brandsController">
        <a type="button" class="btn btn-success pull-right" href="#!/brands">Show All Brands</a>
    <h2>Add Brand</h2>
    
    <form name="brandForm" ng-submit="createBrand()" novalidate>
        <div class="form-group">
            <label for="brandName">Brand Name:</label>
            <input type="text" class="form-control" ng-model="brandName" name="brandName" id="brandName"
                placeholder="Enter Brand Name" required ng-maxlength='15'>
            <div style="color:red" ng-if="brandForm.brandName.$invalid && (brandForm.$submitted || brandForm.brandName.$touched)">
                <span ng-show="brandForm.brandName.$error.required">Please enter brand Name</span>
                <span ng-show=brandForm.brandName.$error.maxlength>Brand name cannot be greater than 15 characters</span>
            </div>
        </div>
        <div class="form-group">
            <label for="brandDesc">Brand Description</label>
            <input type="text" class="form-control" ng-model="brandDesc" name="brandDesc" id="brandDesc"
                placeholder="Enter Brand Description" required >
                <div style="color:red" ng-if="brandForm.brandDesc.$invalid && (brandForm.$submitted || brandForm.brandDesc.$touched)">
                    <span ng-show="brandForm.brandDesc.$error.required">Please enter brand description</span>
                </div>
        </div>
        <div class="form-group">
            <label for="pwd">Brand Image</label>
            <input type="file" ng-model="brandImg" class="form-control"  name="brandImg" id="brandImg" valid-file />
                    <div style="color:red"
                        ng-if="brandForm.brandImg.$error.validFile && brandForm.$submitted">
                    <span ng-show="brandForm.brandImg.$error.validFile">Image is required</span>
                </div>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
        <button type="submit">Save</button>
    </form>
</div>