<!-- <div ng-controller="brandsController">
    <div class="frm-wrap">
        <form name="productForm" ng-submit="createBrand()">
            <ul>
                <li>
                    <label>Brand Name</label>
                    <input type="text" ng-model="brandName" name="brandName" id="brandName"  />
                    <span  ng-show="(productForm.brandName.$dirty || submitted) && productForm.brandName.$error.required">Brand name is required.</span>
                </li>
                <li>
                    <label>Brand Description</label>
                    <input type="text" ng-model="brandDesc" id="brandDesc" />
                </li>
                <li>
                    <label>Brand Image</label>
                    <input type="file" ng-model="brandImg" id="brandImg" />
                </li>
                <li>
                    <input type="submit">
                </li>
            </ul>
        </form>
    </div>
</div> -->


<div class="container" ng-controller="addproductController">
        <a type="button" class="btn btn-success pull-right" href="#!/products">Show All Products</a>
    <h2>Add Product</h2>
    
    <form name="productForm" ng-submit="createProduct()" novalidate>
        <div class="form-group">
            <label for="productName">Product Name:</label>
            <input type="text" class="form-control" ng-model="productName" name="productName" id="productName"
                placeholder="Enter Product Name" ng-model="selectedProduct.productName" required ng-maxlength="15">
                <div style="color:red" ng-if="productForm.productName.$invalid && (productForm.$submitted || productForm.productName.$touched)">
                    <span ng-show="productForm.productName.$error.required">Please enter product Name</span>
                    <span ng-show=productForm.productName.$error.maxlength>Product name cannot be greater than 15 characters</span>
                </div>
                
        </div>
        <div class="form-group">
            <label for="pwd">Product Description</label>
            <input type="text" class="form-control" ng-model="productDesc" name="productDesc"
                placeholder="Enter Product Description" ng-model="selectedProduct.fname" required>
                <div style="color:red" ng-if="productForm.productDesc.$invalid && (productForm.$submitted || productForm.productDesc.$touched)">
                    <span ng-show="productForm.productDesc.$error.required">Please enter product Name</span>
                </div>
        </div>
        <div class="form-group">
            <label for="pwd">Product Image</label>
            <input type="file" ng-model="productImg" class="form-control"  name="productImg" id="productImg" valid-file />
                    <div style="color:red"
                        ng-if="productForm.productImg.$error.validFile && productForm.$submitted">
                    <span ng-show="productForm.productImg.$error.validFile">Image is required</span>
                </div>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
        <input type="submit" class="btn btn-default" value="Submit">
    </form>
</div>