<!-- <div ng-controller="homeController">
    <div class="search-warp">
        Row to display:<input type="number" step="1" min="0" max="5" ng-model="rowLimit">
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>Brand Name</th>
                <th>Brand Descripton</th>
                <th>Brand Image</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="brand in bdata | limitTo:rowLimit">
                <td>{{brand.brandName}}</td>
                <td align="right">{{brand.brandDescription | currency:"Rs. "}}</td>
                <td align="center">{{brand.brandImage}}</td>
            </tr>
        </tbody>
    </table>
</div> -->

<div class="container">
        <h3>Home page</h3>
        <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
</div>