<!-- <div ng-controller="brandNavController">
    <div class="frm-wrap">
            <ul>
                    <li><a href="#!/insertBrand">Insert Brand</a></li>
                    <li><a href="#!viewBrand">View Brands</a></li>
            </ul>
    </div>
</div> -->

<div class="container">
        <h2>Brand List</h2>
        <table class="table">
                <thead>
                        <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Image</th>
                        </tr>
                </thead>
                <tbody>
                        <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                        </tr>
                </tbody>
        </table>
</div>